
body{
    display:none;
}
.center{
   text-align:center;
   margin-top: 30px;
    margin:0 10%;
}
.shop{
    
}
.shop-cards{
    margin-left:-20px;
    text-align:center;
}
.shop-card{
        min-width:320px;
        width:33.33%;
        min-height:200px;
        height:20%;
        float:left;
        list-style-type:none;
}
img{
    width:auto;
    height:300px;
}
.shop-link{
    display:block;
    margin-left:20px;
    margin-bottom:20px;
    position:relative;

}
/*画像上のテキスト*/
.lower-box{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:90px;
    background-color:rgba(0,0,0,0.2);
    padding:12px;
    box-sizing:border-box;
    color:#FFFFFF;
    overflow:hidden;
    text-align:left;
}
.tag{
    display:inline-block;
    background:orange;
    border-radius:5px;
    padding:3px;
}
.title{
    margin-top:5px;
    line-height:1.2;
}