
img{
    width:300px;
}

.grid{
    margin: 0 auto;
}
.grid-item{
    border-radius:5px;
    overflow:hidden;
    margin-bottom:10px;
    background:rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
    text-align:center;
    padding-bottom:5px;
}
.grid-item p{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:5px;
    /* font-family: "ＭＳ Ｐ明朝"; */
    color: black;
    font-size:30px;
}
.grid-item span{
    color: white;
    background: rgb(255, 198, 84);
    border-radius:5px;
    overflow:hidden;
    font-size:13px;
    padding: 0 2px;
    margin-left:2px;
}
.grid-item .detail{
    width:100%;
    margin: auto;
    background:rgb(6, 218, 52);
    color:white;
    border:solid 2px rgb(6, 218, 52);
    border-radius:8px;
    text-decoration: none;
}
.grid-item .detail:hover{
    background:white;
    color:rgb(6, 218, 52);
    border:solid 2px rgb(6, 218, 52);
}


/* モーダル*/
#inline, #inline2,#inline3,#inline4,#inline5,#inline6,#inline7,#inline8{
    display: none;
}
.modaal-content-container{
    text-align:center;
}
.modaal-content-container img {
    width: 50%;
    height: auto;
}
#inline img{
    width: 100%;
    height: auto;
}



@media screen and (max-width: 568px) {
    .grid {
        width: 100%;
    }

    .grid-item {
        width: 100%;
    }

    img {
        width: 100%;
    }
    /*モーダル*/
    .modaal-content-container img {
        width:100%;
    }
}
#main {
   
}
body{
    margin: 0;
    background: #fffbfb;
}
/* inst */
#inst{
    margin:0 10%;
}
.underline{
    padding-bottom:10px;
    font-size:20px;
    border-bottom:solid 2px black;
}
/* ヘッダー */

header h2{
    text-align:center;
    background: black;
    color: white;
    margin:0;
}
.caption{
    border-bottom:solid 1px gray;
}

